.main-page {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	align-items: stretch;
	gap: 3rem;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	min-height: 100vh;
}

.main_title {
	font-weight: 400;
	text-align: center;
}

.header_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7rem;
}

a {
	color: inherit;
	text-decoration: none;
}
